/* Varables */
:root {
  --color-fondo-principal: #132c33;
  --color-fondo-secundrio: #2c3333;
  --color-fondo-tarjeta: #27496d;
  --color-botones: #51c4d3;
  --color-fondo-formulario: #395b64;
  --color-titulo-principal: #51c4d3;
  --color-titulo-secundario: #a5c9ca;
  --color-subtitulos: #d8e3e7;
  --color-texto: #e7f6f2;
  --fuente-raleway: "Raleway", sans-serif;
  --borde-tarjeta: #00a8cc;
  --borde-botones: #e7f6f2;
  --borde-formimput: #e7f6f2;
  --color-sombra: #0c1c20;
  --color-alerta: #ee7474;
}
