.skills__tarjeta {
  align-items: flex-end;
  background-color: var(--color-fondo-tarjeta);
  background-position: left 50% top 40%;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 10% 10% 0 10%;
  box-shadow: 0.75rem 0.75rem 0.55rem var(--color-sombra);
  display: flex;
  height: 160px;
  justify-content: center;
  margin: 1rem;
  width: 160px;
}

.skills__tarjeta--css {
  background-image: url("../../img/skills/icono-css.png");
}

.skills__tarjeta--html {
  background-image: url("../../img/skills/icono-html.png");
}

.skills__tarjeta--javascript {
  background-image: url("../../img/skills/icono-javascript.png");
}
.skills__tarjeta--git {
  background-image: url("../../img/skills/icono-git.png");
}

/* Diseño responsive */

@media screen and (max-width: 1080px) {
  .skills__tarjeta {
    height: 130px;
    width: 130px;
  }
}

@media screen and (max-width: 660px) {
  .skills__tarjeta {
    height: 110px;
    width: 110px;
    margin: 5%;
  }
}
