@import url(skills-contenedor.css);
@import url(skills-nombre.css);
@import url(skills-tarjeta.css);
@import url(skills-titulo.css);

.skills {
  align-items: center;
  background: var(--color-fondo-principal);
  display: flex;
  justify-content: center;
  padding: 3rem 0 0 0;
}
