.skills__titulo {
  text-align: center;
  color: var(--color-titulo-principal);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 5rem;
}

/* Diseño responsive */

@media screen and (max-width: 1080px) {
  .skills__titulo {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 660px) {
  .skills__titulo {
    font-size: 1.75rem;
  }
}
