@import url(menu-elemento.css);
@import url(menu-lista.css);
@import url(menu-enlace.css);

.menu {
  display: flex;
  justify-content: flex-end;
}

/* Diseño para tablets */
@media screen and (max-width: 885px) {
  .menu {
    display: none;
  }
}
