.experiencia__descripcion {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  width: calc(40% - 2rem);
}

/* Diseño responsive */

@media screen and (max-width: 930px) {
  .experiencia__descripcion {
    width: 100%;
    height: fit-content;
  }
}
