.experiencia__titulo {
  color: var(--color-subtitulos);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  width: 100%;
}

/* Diseño responsive */

@media screen and (max-width: 1080px) {
  .experiencia__titulo {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}

@media screen and (max-width: 660px) {
  .experiencia__titulo {
    font-size: 1rem;
    line-height: 2rem;
  }
}
