@import url(experiencia-boton.css);
@import url(experiencia-caja.css);
@import url(experiencia-descripcion.css);
@import url(experiencia-imagen.css);
@import url(experiencia-proyectos.css);
@import url(experiencia-seccion-titulo.css);
@import url(experiencia-texto.css);
@import url(experiencia-titulo.css);

.experiencia {
  align-items: center;
  background: var(--color-fondo-principal);
  display: flex;
  justify-content: center;
  padding: 3rem 0 3rem 0;
}

/* Diseño responsive */

@media screen and (max-width: 660px) {
  .experiencia {
    padding: 0;
  }
}
