.experiencia__boton {
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  height: 3rem;
  width: 6rem;
}

.experiencia__boton--repo {
  background: #132c33;
  border: 2px solid #51c4d3;
  color: #51c4d3;
  margin-right: 1rem;
}

.experiencia__boton--demo {
  background: #51c4d3;
  border: 2px solid #132c33;
  color: #132c33;
}
