.experiencia__boton {
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  height: 3rem;
  width: 6rem;
}

.experiencia__boton--repo {
  background: var(--color-fondo-principal);
  border: 2px solid var(--color-botones);
  color: var(--color-botones);
  margin-right: 1rem;
}

.experiencia__boton--demo {
  background: var(--color-botones);
  border: 2px solid transparent;
  color: var(--color-fondo-principal);
}

/* Diseño responsive */

@media screen and (max-width: 1080px) {
  .experiencia__boton {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 660px) {
  .experiencia__boton {
    font-size: 0.75rem;
    line-height: 1.25rem;
    height: 2.5rem;
    width: 4.5rem;
  }
}
