@import url(hobbies-actividad.css);
@import url(hobbies-contenedor.css);
@import url(hobbies-tarjeta.css);
@import url(hobbies-titulo.css);

.hobbies {
  align-items: center;
  background: var(--color-fondo-principal);
  display: flex;
  justify-content: center;
  padding: 3rem 0 3rem 0;
}
