.hobbies__tarjeta {
  align-items: flex-end;
  background-color: var(--color-fondo-tarjeta);
  background-position: left 50% top 40%;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 10% 10% 0 10%;
  box-shadow: 0.75rem 0.75rem 0.55rem var(--color-sombra);
  display: flex;
  height: 160px;
  justify-content: center;
  margin: 1rem;
  width: 160px;
}


.hobbies__tarjeta--lectura {
  background-image: url("../../img/hobbies/lectura.png");
}

.hobbies__tarjeta--videojuegos {
  background-image: url("../../img/hobbies/videojuegos.png");
}

.hobbies__tarjeta--musica {
  background-image: url("../../img/hobbies/musica.png");
}

.hobbies__tarjeta--series-peliculas {
  background-image: url("../../img/hobbies/series.png");
}

.hobbies__tarjeta--ciclismo {
  background-image: url("../../img/hobbies/ciclismo.png");
}

/* Diseño responsive */

@media screen and (max-width: 1080px) {
  .hobbies__tarjeta {
    height: 130px;
    width: 130px;
  }
}

@media screen and (max-width: 660px) {
  .hobbies__tarjeta {
    height: 110px;
    width: 110px;
    margin: 5%;
  }
}
