@import url(inicio-contenido.css);
@import url(inicio-formacion.css);
@import url(inicio-fotografia.css);
@import url(inicio-texto.css);
@import url(inicio-titulo.css);

.inicio {
  display: flex;
  background: var(--color-fondo-principal);
  height: calc(100vh);
  align-items: center;
  min-height: 575px;
}
