.inicio__titulo {
  color: var(--color-titulo-principal);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.75rem;
}

.inicio__titulo--nombre {
  font-size: 3.25rem;
}

@media screen and (max-width: 1080px) {
  .inicio__titulo {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .inicio__titulo--nombre {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 660px) {
  .inicio__titulo {
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 10px;
  }

  .inicio__titulo--nombre {
    font-size: 1rem;
  }
}
