.inicio__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50vw;
}
@media screen and (max-width: 1080px) {
  .inicio__texto {
    max-width: 50vw;
  }
}
@media screen and (max-width: 660px) {
  .inicio__texto {
    text-align: center;
    max-width: 100%;
  }
}
