.encabezado__correo {
  color: var(--color-texto);
  font-weight: 700;
  padding: 2rem;
}

@media screen and (max-width: 660px) {
  .encabezado__correo {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 660px) {
  .encabezado__correo {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
