@import url(encabezado-correo.css);

.encabezado {
  background: var(--color-fondo-principal);
  display: flex;
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 1080px) {
  .encabezado {
    justify-content: flex-end;
  }
}
