@import url(sobreMi-texto.css);
@import url(sobreMi-titulo.css);

.sobre-mi {
  align-items: center;
  background: var(--color-fondo-secundrio);
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 450px;
}
