@import url(estudios-caja.css);
@import url(estudios-formaciones.css);
@import url(estudios-imagen.css);
@import url(estudios-seccion-titulo.css);
@import url(estudios-subtitulo.css);
@import url(estudios-titulo.css);

.estudios {
    align-items: center;
    background: #2c3333;
    display: flex;
    justify-content: center;
    padding: 3rem 0 3rem 0;
  }
  