.formcontacto__titulo {
  text-align: start;
  color: var(--color-titulo-secundario);
  font-family: var(--fuente-raleway);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 5rem;
}

/* Diseño responsive */

@media screen and (max-width: 1080px) {
  .formcontacto__titulo {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
  }
}

@media screen and (max-width: 660px) {
  .formcontacto__titulo {
    font-size: 1.75rem;
  }
}
