.formcontacto__input {
  background: var(--color-fondo-formulario);
  border-radius: 0.5rem;
  border: 1px solid var(--borde-formimput);
  color: var(--color-texto);
  font-size: 1rem;
  font-family: var(--fuente-raleway);
  outline: none;
  padding: 1rem;
}

.formcontacto__input::placeholder {
  font-size: 1rem;
}

.formcontacto__input--invalido {
  border: 1px solid var(--color-alerta);
  color: var(--color-alerta);
}
