.formcontacto__campo {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

/* Diseño responsive */

@media screen and (max-width: 1080px) {
  .formcontacto__campo {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 660px) {
  .formcontacto__campo {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-bottom: 0.75rem;
  }
}
