.formcontacto__textarea {
  background: var(--color-fondo-formulario);
  border-radius: 0.5rem;
  border: 1px solid var(--borde-formimput);
  color: var(--color-texto);
  font-size: 1rem;
  font-family: var(--fuente-raleway);
  outline: none;
  padding: 1rem;
  resize: none;
}
