.formcontacto__subtexto {
  color: var(--color-texto);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}

/* Diseño responsive */

@media screen and (max-width: 1080px) {
  .formcontacto__subtexto {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 660px) {
  .formcontacto__subtexto {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
