.formcontacto__texto {
  background: var(--color-fondo-formulario);
  border-radius: 2rem;
  font-family: var(--fuente-raleway);
  padding: 3rem;
  margin: 0 auto;
}

/* Diseño responsive */

@media screen and (max-width: 660px) {
  .formcontacto__texto {
    border-radius: 1rem;
    padding: 2rem;
  }
}
