.formcontacto__boton {
  background: var(--color-botones);
  border-radius: 0.75rem;
  border: none;
  font-family: var(--fuente-raleway);
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  width: fit-content;
  color: var(--color-texto);
}

/* Diseño responsive */

@media screen and (max-width: 1080px) {
  .formcontacto__boton {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 660px) {
  .formcontacto__boton {
    font-size: 0.75rem;
    padding: 0.75rem;
  }
}
