.formcontacto__textarea {
  background: var(--color-fondo-formulario);
  border-radius: 0.5rem;
  border: 1px solid var(--borde-formimput);
  color: var(--color-texto);
  font-size: 1rem;
  font-family: var(--fuente-raleway);
  outline: none;
  padding: 1rem;
  resize: none;
}

/* Diseño responsive */

@media screen and (max-width: 1080px) {
  .formcontacto__textarea,
  .formcontacto__textarea::placeholder {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.75rem;
  }
}

@media screen and (max-width: 660px) {
  .formcontacto__textarea,
  .formcontacto__textarea::placeholder {
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.5rem;
  }
}
