.formcontacto__input {
  background: #395b64;
  border-radius: 0.5rem;
  border: 1px solid #e7f6f2;
  color: #a5c9ca;
  font-size: 1rem;
  font-family: var(--raleway);
  margin-bottom: 1.5rem;
  outline: none;
  padding: 1rem;
}

.formcontacto__input::placeholder {
  font-size: 1rem;
}
